@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nunito;
  /* overflow: hidden; */
}

.card {
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}
.card.flipped {
  transform: rotateY("180");
}
